* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body  {
    color: #333;
    font-family: "Kanit", sans-serif;      
    overflow: hidden;   
}

header {
    width: 100vw;
    height: 10vh;

    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;

    position: fixed;
}

svg {
   margin-top: auto;
}

button {
    width: 150px;
    text-transform: capitalize;
    border: none;
}

.card-checkout {
    display: flex;
    align-items: center;
    border-left: 2px solid gainsboro;
    
    transition: 0.9s ease-in-out;
    cursor: pointer;

    min-width: 70px;
    padding: 14px;
}

.card-checkout:hover {
    background-color: lightgrey;
}

a {
    margin-left: 14px;

    text-decoration: none;
    text-transform: capitalize;

    color: #333;
}

nav > ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav {
    display: flex;
    align-items: center;
}

nav > ul{
   list-style-type: none;
}

li > a {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(65, 64, 64);

    padding: 17px;
    margin: 8px;
    text-align: center;
    font-size: 18px;

    transition: 0.6s ease-in-out;
}

 li > a:hover {
    background-color: gainsboro;
}


main {
    display: flex;
}

.left {
    width: 80vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    font-size: 39px;
}

h4 {
    font-weight: 200;
    margin: 10px 20px;
}

p {
    font-size: 30px;
    font-weight: 500;
    margin-top: 18px;
}

.card-btn {
  display: flex;
  margin-top: 40px;
}

.btn1 {
    width: 110px;
    height: 60px;

    background-color: rgb(170, 170, 170);

    color: white;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    transition: 0.8s ease-in-out;
    border-radius: 4px 0 0 4px;
}

.btn1:hover {
    background-color: rgb(202, 201, 201);
}

.btn2 {
    width: 200px;
    height: 60px;

    background-color: black;

    color: white;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    transition: 0.8s ease-in-out;
    border-radius: 0 4px 4px 0;
}

.btn2:hover {
    background-color: rgb(41, 41, 41);
}

.right {
    background-color: #5bc4ee;
    width: 80vw;
    height: 100vh;
}

img {
    width: 700px;
    margin-top: 80px;
    transform: translateX(-18%);
}



@media(max-width: 500px) {
    html, body {
        width: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
    }

    main {
        margin-top: -18px;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 34px;
    }

    h4 {
        font-size: 24px;
    }

    .left {
       display: flex;
       flex-direction: column;

       min-width: 100vw;
    }

    .card-btn {
        display: flex;
        flex-direction: column;

        margin-top: 12px;
    }

    .btn1 {
        width: 210px;
        margin-bottom: 15px;
        border-radius: 6px;
        font-size: 16px;
    }

    .btn2 {
        width: 210px;
        border-radius: 6px;
        font-size: 15px;
    }

    .right {
       display: flex;
       flex-direction: column;
       align-items: center;

       min-width: 100%;
       height: 65vh;
       background-color: #5bc4ee;

       margin-top: -80px;
    }

    .right img {
       width: 300px;
       height: 230px;
       
       margin-left: 120px;
    }
}